@import "nullstyle.scss";
@import "normalize.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
	background-color: rgb(179, 214, 220);
}
//=====================================================
//animation
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.wrapper {
	justify-content: center;
}
.form {
	&__container {
		display: flex;
		position: relative;
		max-width: 954px;
		width: 100%;
		box-shadow: 0 0 32px 0 rgba(0,0,0,.25)
}
&__img{
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: -10%;
	right: -20%;
	object-fit: contain;
	pointer-events: none;
	
}
&__square {
	flex: 1 0 35%;
	background-color: #FFB039;
}
}
.form-form {
	flex: 1 0 65%;
	background-color: #BE0909;
	padding: 65px 40px 0px 65px;
}
.label {
	display: block;
	width: 100%;
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	transition: color 0.2s ease-out;
	&:hover{
		color: #7e0101;
	}
}
.label-regarding{
	margin-top: 30px;
}
.input {
	background-color: #BE0909;
	border-bottom: 1px solid #9DBEBB;
	border-top: 1px solid transparent;
	padding: 5px;
	width: 160px;
	color: #fff;
	font-size: 18px;
	&::placeholder{
		letter-spacing: 5px;
		color: #ffffff91;
	}
	transition: all 0.2s ease-out;
	&:hover{
		border-top-color: #9DBEBB;
	}
	&:focus{
		border-top-color: #9DBEBB;
	}
  &__large {
	max-width: 400px;
	width: 100%;
  }
}
.input-span{
	
}
 .button{
	cursor: pointer;
	margin: 56px auto;
	display: block;
	box-shadow: 0 0 12px 0 rgba(0,0,0,.5);
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 25px;
	border-radius: 40px;
	background-color: rgb(179, 214, 220);
	color: #272727;
	transition: all 0.2s ease-out;
	&:hover{
		color: #fff;
		background-color: rgb(99, 185, 200);
	}
 }
 .button:disabled{
	background-color: #ffffff6f;
	&:hover{
		color: #272727;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
 		transform: translate3d(0, 0, 0);
		perspective: 1000px;
	}
 }
.check{
	border-bottom-color: #FFB039;
}